@model AdvancedControllers.Models.Result

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>@Model.ControllerName</div>
    <div>@Model.ActionName</div>
</body>
</html>
